@*
    Views/Converter/Weight.cshtml
*@
@model UnitConverterApp.Models.WeightModel

<h1>Convertidor de peso</h1>
<nav>
    <a asp-controller="Converter" asp-action="Length">Length</a> |
    <a asp-controller="Converter" asp-action="Weight">Weight</a> |
    <a asp-controller="Converter" asp-action="Temperature">Temperature</a>
</nav> 
<form asp-action="Weight" method="post">
   <br /><br /><label>Introduzca el peso a convertir</label><br />
    <input asp-for="Value" class="form-control" /><br />

    <label>Unidad para convertir desde</label><br />
    <select asp-for="FromUnit" asp-items="@(new SelectList(Model.Units))" class="form-select"></select><br />

    <label>Unidad a convertir</label><br />
    <select asp-for="ToUnit" asp-items="@(new SelectList(Model.Units))" class="form-select"></select><br />

    <button type="submit">Convert</button>
</form>

@if (Model?.Result != 0)
{
    <p>Result of your calculation:</p>
    <strong>@Model.Value @Model.FromUnit = @Model.Result @Model.ToUnit</strong>
    <form method="get">
        <button type="submit">Reset</button>
    </form>
}